target/
/build
/spring-*/build
target/
bin
.idea/
out
test-output
*~
*.log
opt
.classpath
.project
*.ipr
*.iws
*.iml
.settings
dependency-reduced-pom.xml
src/main/resources/properties/dev/*

/config
/logs
