<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--<link rel="stylesheet" type="text/css" th:href="/css/uploadForm.css}" />-->
    <script src="https://apps-static.flock.co/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/uploadForm.js"></script>
  </head>
<body>
  <div th:if="${message}">
    <h2 th:text="${message}"/>
  </div>

  <div>
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

    <form id="image-form" method="POST" enctype="multipart/form-data" action="/">
      <table>
        <tr><td>File to upload:</td><td><input id="i_file" type="file" name="file" /></td></tr>
        <tr><td>Ignore White:</td><td><input type="checkbox" name="ignoreWhite"/></td></tr>
        <tr><td>color count:</td><td><input type="number" name="colorCount" min="1" max="100" value="5"/></td></tr>
        <tr><td>quality(lower the quality better will be dominant color but slower too):</td><td><input type="number" name="quality" min="1" max="50" value="10"/></td></tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        <tr><td></td><td><img id="source-img" src="" style="display:none; width=100px; height=100px;" /></td></tr>
      </table>
    </form>
  </div>

  <div th:utext="${dominantColor}" th:remove="tag">Dominant Color</div>
</body>
</html>